header {
  top: 0;
  display: flex;
  width: 100%;
  padding: $font-mdxl 4% $font-xs;
  background-color: $black;
}

header > .logo {
  font-size: $font-mdxl;
}

.nav-list {
  display: flex;
  margin: 0 auto;
}

.nav-list > li {
  padding-right: $font-xxl;
  font-weight: $bold;

  @include tab {
    display: none;
  }
}
