.area-search {
  width: 100%;
  overflow: scroll;
}

.area-search > .arealist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  width: 150%;
  margin: 32px;

  @include tab {
    width: 200%;
  }
}

.area-search > .arealist > .area {
  display: flex;
  width: 20%;
  margin: 16px;

  @include tab {
    width: 20%;
  }
}

.area-search > .arealist > .area > .picture {
  width: 30%;
  border-radius: 16px;
}

.area-search > .subtitle {
  @include subtitle;
}

.area-search > .arealist > .area > .areatext {
  padding-left: 48px;
  margin-top: 16px;

  @include sp {
    font-size: $font-xs;
  }
}
