.area-search {
    width: 100%;
    overflow: scroll;
}

.area-search > .arealist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    width:150%;
    margin: 2rem;

    @include tab {
        width: 200%;
    }

}

.area-search > .arealist > .area {
    display: flex;
    width: 20%;
    margin: 1rem;

    @include tab {
        width: 20%;
    }
    
}

.area-search > .arealist > .area > img {
    width: 30%;
    border-radius: 1rem;

}

.area-search > h1 {
    @include subtitle;
}

.area-search > .arealist > .area > .areatext {
    padding-left: 3rem;
    margin-top: 1rem;

    @include sp {
        font-size: $font-xs;
    }
}