.area_search {
    width: 100%;
    overflow: scroll;
}

.area_search > .area_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    width:150%;
    margin: 2rem;

    @include tab {
        width: 200%;
    }

}

.area_search > .area_list > .area {
    display: flex;
    width: 20%;
    margin: 1rem;

    @include tab {
        width: 20%;
    }
    
}

.area_search > .area_list > .area > img {
    width: 30%;
    border-radius: 1rem;

}

.area_search > h1 {
    @include subtitle
}

.area_search > .area_list > .area > .area_text {
    padding-left: 3rem;
    margin-top: 1rem;

    @include sp {
        font-size: $font-xs;
    }
}

.area_list > .area > .area_text > span {
    font-weight: $semi-bold;
}