.lets-host {
  width: 90%;
  height: 400px;
  margin: 0 auto;
  margin-top: 48px;
  margin-bottom: 48px;
  background-image: url("https://a0.muscache.com/im/pictures/5b4dc94a-0b4c-4c27-b50f-9c5a5b93c775.jpg?im_w=1440");
  background-size: cover;
  border-radius: 16px;

  @include tab {
    height: 260px;
    background-color: $black;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 16px;
  }

  @include sp {
    height: 200px;
  }

  @include iphone5 {
    height: 300px;
  }
}

.lets-host > .text {
  padding: 144px;
  color: $white;

  @include tab {
    padding: 64px 48px;
    font-size: $font-sm;
    text-align: left;
  }

  @include sp {
    font-size: $font-xs;
  }

  @include iphone5 {
    padding-top: 224px;
    font-size: $font-xs;
    text-align: center;
  }
}

.lets-host > .text > h1 {
  font-size: $font-mdxl;

  @include tab {
    font-size: 1.3rem;
  }
}

.lets-host > .text > p {
  padding-bottom: 32px;
}

.lets-host > .text > button {
  @include tab {
    font-size: $font-xs;
  }
}
