
.live_in_favorite > h1 {
    @include subtitle
}

.live_in_favorite > .fav_places {
    @include sidebyside
}

.live_in_favorite > .fav_places > .fav_place {
    display: block;
    width: 30%;
    margin-right: 2rem;

    @include sp {
        width: 40%;
        margin-right: 20rem;
    }

}

.fav_place > p {
    font-weight: $bold;
    font-size: $font-xl;

    @include tab {
        font-size: $font-md;
    }

}

.fav_place > img {
    width: 100%;
    border-radius: 1rem;

    @include sp {
        width: 30rem;
    }

}