.research_experience {
    width: 100%;
}

.research_experience  > h1 {
    @include subtitle;
}

.research_experience > p {
    font-size: $font-xl;
    margin: 3rem;

    @include tab {
        font-size: $font-sm;
    }
}

.research_experience > .experiences {
    @include sidebyside
}

.research_experience > .experiences > .experience {
    display: block;
    width: 30%;
    margin-right: 1rem;

    @include sp {
        margin-right: 2rem;
        width: 100%;
    }

    @include iphone5 {
        margin-right: 2rem;
    }
}

.research_experience > .experiences > .experience > p {
    font-size: $font-sm;
}

.research_experience > .experiences > .experience > img {
    width: 100%;
    border-radius: 1rem;

    @include sp {
        width: 30rem;
    }
}
