.research-experience {
  width: 100%;
}

.research-experience > h1 {
  @include subtitle;
}

.research-experience > p {
  margin: 48px;
  font-size: $font-xl;

  @include tab {
    font-size: $font-sm;
  }
}

.research-experience > .experiences {
  @include sidebyside;
}

.research-experience > .experiences > .experience {
  display: block;
  width: 30%;
  margin-right: 16px;

  @include sp {
    width: 100%;
    margin-right: 32px;
  }

  @include iphone5 {
    margin-right: 32px;
  }
}

.research-experience > .experiences > .experience > p {
  margin-top: 8px;
  font-size: $font-md;
}

.research-experience > .experiences > .experience > img {
  width: 100%;
  border-radius: 16px;

  @include sp {
    width: 480px;
  }
}
