.research_experience {
    width: 100%;
}

.research_experience  > h1 {
    @include subtitle;
}

.research_experience > p {
    font-size: $font-xl;
    margin-left: 3rem;

    @include tab {
        font-size: $font-sm;
    }
}

.research_experience > .experiences {
    @include sidebyside
}

.research_experience > .experiences > .experience {
    margin: 0;
    width: 50%;
    text-align: left;
    margin-right: 1rem;

    @include tab {
        font-size: $font-sm;
        margin-left: 3rem;
    }

    @include sp {
        width: 100%;
        // margin-right: 10rem;
    }

    @include iphone5 {
    }
}

.research_experience > .experiences > .experience > .text {
    text-align: left;
    margin-left: 1rem;
}

.research_experience > .experiences > .experience > img {
    width: 30rem;
    margin: 0;
    border-radius: 1rem;
}
