.c-button {
  position: relative;
  display: inline-block;
  padding: 1rem;
  font-weight: $bold;
  color:  $black;
  background:  $white;
  border-radius: 1rem;/*色*//*角の丸み*/
}

.c-searchbutton {
  position: relative;
  margin-left: 1rem;
  font-weight: $bold;
  color: $white;
  background-color: $radical-red;
  border-radius: 50%;
}

