.c-button {
  position: relative;
  display: inline-block;
  padding: 16px;
  font-weight: $bold;
  color: $black;
  background-color: $white;
  border-radius: 16px; /*色*/ /*角の丸み*/
}

.c-searchbutton {
  position: relative;
  margin-left: 256px;
  font-weight: $bold;
  color: $white;
  background-color: $radical-red;
  border-radius: 50%;
}
