
.live_in_favorite > h1 {
    font-size: $font-xxl;
    margin: 3rem;
}

.fav_places {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.fav_place {
    display: block;
    width: 30%;
    margin-right: 2rem;
}

.fav_place > p {
    font-weight: $bold;
    font-size: $font-xl;
}

.fav_place > img {
    width: 30rem;
    border-radius: 1rem;
}