footer {
    background-color: $snowberry-glay;
}

footer > .company_info {
    margin-top : 10rem;
    padding-left: 1rem;
}

footer > .company_info > p {
    max-width: 90%;
    font-size: $font-mds;
    padding: 1.5rem;
    font-weight: $bold;
}

footer > .company_info > ul {
    max-width: 98%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(204, 202, 202);
    margin-bottom: 3rem;

    @include tab {
        display: block;
        margin: 1.3rem;
    }

}

footer > .company_info > ul > li {
    font-size: $font-mds;
    padding: 1.5rem;
    width: 32%;

    @include tab {
        width: 100%;
        padding: 0.6rem;
    }
}

footer > .footer_last {
    font-size: $font-xs;
    text-align: center;

    @include tab {
        margin-left: 1rem;
    }

    @include sp {
        text-align: left;
    }

}

footer > .footer_last > .first {
    display: flex;
    margin: 1rem;
    justify-content: center;

    @include sp {
        justify-content: left;
    }
} 

footer > .footer_last > .first > p {
    padding-right: 2rem;
}

footer > .footer_last > .first > .sns_icon {
    display: flex;
    padding-right: 2rem;
}

footer > .footer_last > .first > .sns_icon > p {
    padding-right: 2rem;
}

footer > .footer_last > .second > p {
    
    @include tab {
        margin: 0.1rem;
    }
}

footer > .footer_last > .third > ul {

    display: flex;
    padding-bottom: 2rem;
    justify-content: center;

    @include tab {
        margin: 0.1rem;
    }

    @include sp {
        justify-content: left;
    }
}

footer > .footer_last > .third > ul > li {
    padding-right: 2rem;
}
