.footer-bottom {
  font-size: $font-xs;
  text-align: center;

  @include tab {
    margin-left: 16px;
  }

  @include sp {
    text-align: left;
  }

  > .first {
    display: flex;
    justify-content: center;
    margin: 16px;

    @include sp {
      justify-content: left;
    }
  }

  > .first > .item {
    padding-right: 32px;
  }

  > .first > .icons {
    display: flex;
    padding-right: 32px;
  }

  .first > .icons > .icon {
    padding-right: 32px;
  }

  > .second > .item {
    @include tab {
      margin: 1.6px;
    }
  }

  > .third > .list {
    display: flex;
    justify-content: center;
    padding-bottom: 32px;

    @include tab {
      margin: 1.6px;
    }

    @include sp {
      justify-content: left;
    }
  }

  .third > .list > .item {
    padding-right: 32px;
  }
}
