footer {
  background-color: $snowberry-glay;
}

footer > .information {
  padding-left: 16px;
  margin-top: 160px;
}

footer > .information > .title {
  max-width: 90%;
  padding: 24px;
  font-size: $font-mds;
  font-weight: $bold;
}

footer > .information > .list {
  display: flex;
  flex-wrap: wrap;
  max-width: 98%;
  margin: 0 auto;
  margin-bottom: 48px;
  border-bottom: 1px solid rgb(204, 202, 202);

  @include tab {
    display: block;
    margin: 20.8px;
  }
}

footer > .information > .list > .item {
  width: 32%;
  padding: 24px;
  font-size: $font-mds;

  @include tab {
    width: 100%;
    padding: 9.6px;
  }
}

footer > .last {
  font-size: $font-xs;
  text-align: center;

  @include tab {
    margin-left: 16px;
  }

  @include sp {
    text-align: left;
  }
}

footer > .last > .first {
  display: flex;
  justify-content: center;
  margin: 16px;

  @include sp {
    justify-content: left;
  }
}

footer > .last > .first > .item {
  padding-right: 32px;
}

footer > .last > .first > .icons {
  display: flex;
  padding-right: 32px;
}

footer > .last > .first > .icons > .icon {
  padding-right: 32px;
}

footer > .last > .second > .item {
  @include tab {
    margin: 1.6px;
  }
}

footer > .last > .third > .list {
  display: flex;
  justify-content: center;
  padding-bottom: 32px;

  @include tab {
    margin: 1.6px;
  }

  @include sp {
    justify-content: left;
  }
}

footer > .last > .third > .list > .item {
  padding-right: 32px;
}
