.company_info {
    background-color: $footer-glay;
    margin-top : 10rem;
    padding-left: 1rem;
}

.company_info > p {
    max-width: 90%;
    font-size: 1.3rem;
    padding: 1.5rem;
    font-weight: $bold;
}

.company_info > ul {
    max-width: 98%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(204, 202, 202);
    margin-bottom: 3rem;
}

.company_info > ul > li {
    font-size: 1.3rem;
    padding: 1.5rem;
    width: 32%;
}