.area_search {
    width: 100%;
}

.area {
    margin: 3rem;
    width: 26%;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-bottom: 3rem;
}

.area > img {
    width: 12rem;
    border-radius: 2rem;
}

.area_search > h1 {
    font-size: $font-xxl;
    margin: 3rem;
}

.area_list {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.area_text {
    padding-left: 3rem;
    margin-top: 1rem;
}

.area_list > .area > .area_text > span {
    font-weight: $semi-bold;
}