.area_search {
    width: 100%;
}

.area_search > .area_list > .area {
    margin: 3rem;
    width: 26%;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-bottom: 3rem;

    @include tab {
        width: 50%;
        display: flex;
        justify-content: flex-start;
    }

}

.area_search > .area_list > .area > img {
    width: 12rem;
    border-radius: 2rem;

    @include tab {
        width: 6.5rem;
    }

}

.area_search > h1 {
    font-size: $font-xxl;
    margin: 3rem;

    @include sp {
        font-size: $font-xl;
    }
}

.area_list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    overflow: scroll;
}

.area_list > .area {
    
    @include sp {
        width: 100%;
    }

}

.area_text {
    padding-left: 3rem;
    margin-top: 1rem;
}

.area_list > .area > .area_text > span {
    font-weight: $semi-bold;
}