.search-form {
  position: absolute;
  left: 50%;
  width: 90%;
  padding: 8px;
  margin-top: 24px;
  cursor: pointer;
  background-color: $white;
  border: 1.6px;
  border-radius: 48px;
  box-shadow: $shadow;
  transform: translateX(-50%);

  > .textfield {
    width: 20%;
    padding: 20.8px;
    margin-right: 0;
    cursor: pointer;
    border-style: none;
    border-right: 1.6px solid rgb(224, 224, 224);
    border-radius: 48px;
    outline: none;
    transition: background-color 0.5s;
  }

  > .textfield:last-child:hover {
    color: $white;
    background-color: $rio-red;
  }

  > .textfield:nth-child(1) {
    @include tab {
      width: 80%;
    }
  }

  > .textfield:nth-child(n + 2):nth-child(-n + 4) {
    @include tab {
      display: none;
    }
  }

  > .textfield:hover {
    background-color: $snowberry-glay;
  }

  > .textfield:last-child {
    width: 10%;
    border: none;
  }

  .textfield:hover {
    color: $black-dark-grey;
  }
}
