/* 　アニメーションやプリプロセッサ用のmixinやfunctionをこのレイヤーで管理　*/
@mixin subtitle {
  font-size: $font-xxl;
  margin: 48px;

  @include tab {
    font-size: $font-mdxl;
  }

  @include sp {
    font-size: $font-xl;
  }
}

@mixin sidebyside {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

  @include tab {
    overflow: scroll;
  }
}
